$primary-font: 'Montserrat', sans-serif;

$font-size-xlg: 60px;
$font-size-lg:  48px;
$font-size-md:  28px;
$font-size-sm:  18px;
$font-size-xs:  13px;





// Color
$primary-color: #373B44;
$secondary-color: #FC0F3E;
$turtary-color: #E32551;
$fourth-color: #FE4365;
$fifth-color: #FF9E9D;

$light-gray: #bebebe;
$dark-gray: #202020;
